<!-- strategic design solutions -->
    <section id="strategic-solution">
      <div class="container">
        <div class="row col-md-11 mx-auto text-center wow fadeInUp">
          <h1>{{ label }}</h1>
           {{ content.body[0] }}
        </div>
      </div>
    </section>
<!-- End strategic design solutions -->

<!-- About services section -->
    <section id="about-services">
      <div class="container">
        <div class="row col-md-11 mx-auto about-services-grid wow fadeInLeft">
            {{ content.field_about_service }}
        </div>
      </div>
    </section>
<!-- End About services section -->

<!--  About services listing -->
    <section id="about-service-listing">
      <div class="container">
        <div class="row">
         {{ content.field_about_service_listing }} 
        </div>
      </div>
    </section>
<!--  End About services listing -->