<!-- Our Clients items -->
    <div class="col-md-6 col-sm-6 col-xs-12 our-work-list wow fadeInRight">
      <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" class="img-fluid"
       alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
    </div>
<!-- End Our Clients items -->
