<!-- NEWSLWTTER SECTION  -->
<section id="news-letter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="single">
          <h2>{{ content.field_title.0 }}</h2>
            <div class="input-group wow fadeInUp" data-wow-delay="0.3s">
            	{{ content.field_contact.0 }}
            </div>
        </div>
      </div> 
    </div> 
  </div>
</section>
<!-- END NEWSLWTTER SECTION -->
