<!-- Banner Section -->
    <section id="banner" style="background-image:url('{{ file_url(content.field_image['#items'].entity.uri.value) }}');background-repeat: no-repeat;background-size: cover;background-position: center;">
      <div class="container">
        <div class="row">
          <div class="banner-caption wow fadeInDown">
            <h1 id="banner-title">{{ content.field_title.0 }}</h1>
            <ul class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ul>
            {{ content.field_body.0 }}
          </div>
        </div>  
      </div>
    </section>
<!-- End Banner Section -->