<!--  About listing -->
    <section id="about-listing">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12 about-list text-left wow fadeInLeft">
            <div class="about-list-inner">
            <span class="circle-blue"></span>
            <span class="circle"></span>
            <span class="circle-green"></span>
              <h2 class="title-section">{{ content.field_title.0 }}</h2>
            </div>  
          </div>
            {{ content.field_about_list_items }}
        </div>
      </div>
    </section>
<!--  End About listing -->