<!-- our works -->
  <section id="our-works">
    <div class="container">
      <div class="row">
        <div class="col-md-6 our-works-left wow fadeInLeft">
           <h2 class="heading">{{ content.field_title.0 }}</h2>
            {{ content.field_body.0 }}
        </div>
        <div class="col-md-6">
          <div class="row">
              {{ content.field_our_clients_items }}
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- End our works -->