<!-- About List items  -->
  <div class="col-md-4 col-sm-6 col-xs-12 about-list text-left wow fadeInRight">
    <div class="about-list-inner">
      <span>{{ content.field_title.0 }}</span>
      <h3>{{ content.field_address.0 }}</h3>
    </div>  
  </div>
<!-- End About List items  -->
