<!-- Sign Up Section -->
<section id="signup">
    <div class="row">

      <div class="col-md-6 col-xs-12 details-section wow fadeInLeft">
        <h2>Sign Up</h2>  
            {{content.field_signup_form.0}}
      </div>

      <div class="col-md-6 col-xs-12 wow fadeInLeft">
        <img src="{{content.field_image.0}}" class="img-responsive" alt="Title">  
      </div>      
      
    </div>
</section>