<div class="col-md-4 col-sm-4 col-xs-12 categories mobile wow fadeInLeft">
  <div class="portfolio-item wow fadeInLeft">
    <a href="{{content.field_image.0}}" class="portfolio-popup">
	  <img src="{{content.field_image.0}}" width="200px" alt="">
	  <div class="portfolio-overlay">
	    <div class="portfolio-info middle"><p class="wow fadeInLeft"></p>
	      <i class="fa fa-search"></i>
	      <h4>{{content.field_title.0}}</h4>
	    </div>
	  </div>
    </a>
  </div>
</div>