<!-- Client Logo carousel -->
<section id="client-logo wow fadeInLeft">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel owl-theme">
            {{content.field_client}}
          </div>
        </div>    
    </div>
  </div>
</section>    