<div class="col-md-4 col-sm-4 col-xs-12 categories {{ fields.field_gallery.content}}">
                  <div class="portfolio-item">
                    <a href="{{ fields.field_image.content}}" class="portfolio-popup">
                      <img src="{{ fields.field_image.content}}" width="200px" alt="">
                      <div class="portfolio-overlay">
                        <div class="portfolio-info middle"><p class="wow fadeInLeft"></p>
                          <i class="fa fa-search"></i>
                          <h4>{{ fields.title.content}}</h4>
                        </div>
                      </div>
                    </a>
                  </div>
              </div>