<div class="col-md-3 col-sm-6 col-xs-6">
  <div class="team-member wow fadeInLeft">
    <img src="{{ fields.field_image.content}}" class="img-responsive" alt="Team image">
    <div class="team-title">
      <h3>{{ fields.title.content}}</h3>
      <p>{{ fields.field_position.content}}</p>
    </div>
  </div>
</div> 
