 <div class="skill wow slideInUp">
	<p>{{ content.field_phone_number.0 }}</p>
	<div class="skill-bar skill1 wow slideInLeft" style="width: {{ content.field_banner_title.0 }}">
		<span class="skill-count1">{{ content.field_banner_title.0 }}</span>
	</div>
</div>