 <div class="col-12 col-lg-4">
    <div class="card features text-center wow slideInUp">
        <div class="card-body">
            <div class="feature">
                <div class="feature-body">
                    <div class="icon"><img src="{{ file_url(content.field_email_image['#items'].entity.uri.value)}}" /></div>
                    <h4 class="card-title">{{ content.field_about_name.0 }}</h4>
                    <p class="card-text">{{ content.field_about_desc.0 }} </p>
                </div>
            </div>
        </div>
    </div>
</div>