<div class="section light-bg" id="portfolio">
        <div class="container">
            <div class="section-title">
                <small class="wow slideInUp">{{ content.field_about_sub_title.0 }}</small>
                <h3 class="wow slideInUp">{{ content.field_about_title.0 }}</h3>
            </div>
            <div class="gallery-wrapper clearfix">
                <div class="col-lg-4 grid-sizer"></div>
                {{ content.field_portfolio_gallery }}
                                                                                           
            </div>
        </div>
    </div>